.App{
    font-family: 'League Spartan', sans-serif;
    display: grid;
    height: 100vh;
}

.titleAndTheme{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 50%;
    margin-left: 25%;
}

.calculator{
    width: 60%;
    margin-left: 20%;
}

.titleAndTheme h1{
    color: var(--text-for-h1);
}


.theme {
    display: flex;
    align-items: center;
}

.theme p{
    color: var(--text-for-h1);
}

.labels{
    display: flex;
    justify-content: space-around;
    height: 35px;

}