/*Theme 3*/
/* Backgrounds */
.theme-3 {
    --main-background: hsl(268, 75%, 9%);
    --toggle-background: hsl(268, 71%, 12%);
    --screen-background: hsl(268, 71%, 12%);
    --keypad-background: hsl(268, 71%, 12%);
}

/* Keys */
.theme-3 {
    --key-background: hsl(281, 89%, 26%);
    --key-background-light: hsl(285, 91%, 37%);
    --key-shadow: hsl(285, 91%, 52%);
    --toggle-key-background: hsl(176, 100%, 44%);
    --toggle-key-background-light: hsl(177, 92%, 60%);
    --toggle-key-shadow: hsl(177, 92%, 70%);
    --light-grayish-orange: hsl(268, 47%, 21%);
    --lighter-grayish-orange: hsl(268, 59%, 46%);
    --grayish-orange-shadow: hsl(290, 70%, 36%);
}

/* Text */
.theme-3 {
    --light-yellow: hsl(52, 100%, 62%);
    --very-dark-blue: hsl(198, 20%, 13%);
    --white: hsl(0, 0%, 100%);
    --text-color: var(--light-yellow);
    --text-white: var(--white);
    --text-for-h1: var(--light-yellow);
    --text-for-display: var(--light-yellow);
    --text-for-equal: var(--very-dark-blue);
}

.theme-3 {
    background-color: var(--main-background);
}